# zmienne srodowiskowe niepoufne
# skopiuj ten plik jako .env i dostosuj wartosci

# nazwa bazy danych
POSTGRES_DB=products

# url polaczenia z redis
REDIS_URL=redis://redis:6379

# port na ktorym nasluchuja backendy (sterowanie instancjami)
BACKEND_PORT=3000
